body{
    margin: 0;
    background-color: var(--dark);
}
a:hover, .btn-link:hover{
    color: var(--primary);
}
#hero svg{
    border: .5em solid white;
}
#form h4{
    color: #2c2c2c;
}
#form form{
    width: 50%;
}
#form form input[type=email]{
    border: 1px solid #46344E;
}
#mobile .mobile-text{
    width: 70%;
}
footer .media-icons a{
    background-color: var(--secondary);
    border-radius: 50%;
    padding: .2em .5em;
    margin-right: .9em;
}
/* navbar hover effect */
.nav2 li a:hover{
   color: var(--secondary);
}
.nav2 li a:hover:after{
	opacity: 1;
	width: 100%;
}
.nav2 li a:after {
  transition: all 0.3s ease;
	opacity: 0;
	border-top: 3px solid #FAED26;
    content: '';
    display: block;
    z-index: -1;
    margin: auto;
    width: 0px;
}
.nav2 li a:after {
    top: 5px;
}
/* ******** */
.media-icons a{
    transition: all 0.3s ease;
}
.media-icons a:hover{
    background-color: var(--dark);
    color: var(--secondary);
}
.img-background{
    width: 100%;
    height: 500px;
    background-image: url(../imgs/boy-flexing.png);
    background-position-y: -10em;
    background-size: cover;
    position: relative;
}
/* media queries */
@media screen and (max-width:1220px){
    .txt-brand{
        font-size: 2.52em;
    }
    .txt-hero{
        font-size: 2.55em;
    }
    .txt-caption{
        font-size: 1.5em;
    }
    .txt-size-normal{
        font-size: 1em;
    }
}
@media screen and (max-width:1070px){
    .txt-size-normal{
        font-size: .8em;
    }
    .txt-size-small{
        font-size: .7em;
    }
}
@media screen and (max-width:907px){
    .txt-caption{
        font-size: 1.3em;
    }
    .txt-size-small{
        font-size: .6em;
    }
}
@media screen and (max-width:825px){
    .txt-caption{
        font-size: 1.1em;
    }
    .txt-size-normal{
        font-size: .7em;
    }
}
@media screen and (max-width:760px){
    #work-days{
        order: 2;
        width: 100%;
    }
    #form{
        width: 80%;
        align-self: flex-end;
    }
   .txt-size-normal{
       font-size: 1em;
   }
   .txt-size-small{
       font-size: .9em;
   }.media-icons .txt-size-small{
       font-size: .7em;
   }
}
@media screen and (max-width:600px){
    .img-background{
        height: 450px;
    }
    .txt-brand{
        font-size: 1.8em;
    }
    #mobile .mobile-text{
        width: 90%;
    }
    .media-icons .txt-size-small{
        font-size: .5em;
    }
}
@media screen and (max-width:540px){
    .img-background{
        height: 350px;
    }
    #form form{
        width: 80%;
    }
    .search-bar{
        width: 200px;
    }
    .search-btn{
        padding-left: 0;
    }
}
@media screen and (max-width:400px){
    .txt-size-normal{
        font-size: .7em;
    }
    .txt-size-small{
        font-size: .7em;
    }
}



